<!DOCTYPE html>
<html>
<head>
  <title>Pizza Shop</title>
  <link rel='stylesheet' href='/style.css'>
</head>
<body>
  <nav>
    <ul>
      <li>
        <a href='/pizza-orders'>PIZZA ORDERS</a>
      </li>
    </ul>
  </nav>
  <div class="background">
    <div class="transbox">
      <%= yield %>
    </div>
  </div>
</body>
</html>
